html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.fit-content {
    width: 1%;
    white-space: nowrap;
}
.tbody-operations {
    height: 480px;
    max-height: 480px;
    overflow-y: scroll;
}
.nav-link {
    border-radius: 0.25rem;
    margin-right: 5px;
}
.nav-item.active .nav-link {
    background-color: rgb(0, 0, 0, 0.15);
}
.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.15);
}